[2014-05-03 00:27] alanjosephwilliams opened #1 "Hack Request List"
At a later date, I'll move this to the README so that people can simply submit PRs to update.
- PLATS + [DEM data](http://ned.usgs.gov/) in Minecraft a la [Code for Vermont's](https://github.com/codeforbtv) NDoCH project [LakeCraft](http://vtrural.org/programs/digital-economy/updates/lakecraft).
- PLATS + [The Census API](https://www.census.gov/developers/) to calculate the % of a city's populatio

[2014-05-05 20:59] ondrae opened #3 "Validate raw trail network data"
#### Description

Take in raw trail network data and validate it. Start with python scripts that will eventually become a web service.
#### Tasks
- [ ] Validate trailhead shapefile
- [ ] Validate trail segment shapefile
- [ ] Validate areas shapefile

[2014-05-05 22:02] ondrae commented on #3
Using Shapefile to Geojson service OGRE.
curl -F "sourceSrs=EPSG:3734" -F "targetSrs=EPSG:4326" -F "upload=@dummy-data/ohio-data.zip" http://ogre.adc4gis.com/convert

[2014-05-05 22:17] alanjosephwilliams commented on #3
#### Description

Perform, or be able to perform, the following tasks for each upload.
- [x] open a shapefile
- [x] change projection
- [x] create geojson
- [ ] display on map

[2014-05-05 22:58] migurski commented on #3
Same thing, minus external dependency, assumes that `input.prj` exists:

[code]

[2014-05-05 22:59] migurski commented on #3
Also, prepared OGR/GDAL/GEOS for Heroku: https://github.com/codeforamerica/heroku-buildpack-pygeo

[2014-05-12 20:11] alanjosephwilliams commented on #3
@ondrae let's aim to get this on a map today.

[2014-05-12 20:17] alanjosephwilliams opened #5 "Transform NRPA/PRORAGIS Data into PLATS"
#### Description

The National Recreation and Parks Association's recommended data model, dubbed PRORAGIS, is an asset management model that many park agencies use to maintain their data. While by no means an "80% case", PRORAGIS is likely the data model we will find most consistently among our target audience.

Let's use NRPA as one of---or the first iteration of--- our input formats for our conv

[2014-05-12 21:22] alanjosephwilliams opened #6 "Frontend v1"
- [x] Apply CfA stylesheets
- [x] Single column layout
- [x] Leaflet map that shows geodata uploaded
- [x] Steward "Profile" Section

- [ ] Upload Section: Simple Infographic
- [ ] Upload action and feedback

- [ ] Create namedTrails from trailsegments

[2014-05-13 00:13] alanjosephwilliams commented on #6
heads up @ondrae you can see work in progress here:

http://opentrails-frontend.herokuapp.com/

[2014-05-13 00:41] ondrae commented on #6
@alanjosephwilliams and check out the new maps from uploads
http://open-trails.herokuapp.com/

[2014-05-13 17:23] alanjosephwilliams opened #7 "Project Idea: Contribute to Stamen's Social Media Analysis"
#### Description:

Stub
#### Background:

http://content.stamen.com/mapping_the_intersection_between_social_media_and_open_spaces_in_ca

[2014-05-13 17:25] alanjosephwilliams opened #8 "Project Idea: Adopt-a-Trail"
#### Idea

Adopt-a-trail programs are a common feature of park systems across the United States. Often, these trail adoptions are managed by "Friends of the Parks" groups and conservancies. Documenting and tracking maintenance of trails in a transparent and accessible way could be a real improvement to that ongoing work.
#### Description

Redeploy [Adopt-a-Hydrant](https://github.com/codeforameric

[2014-05-13 17:31] alanjosephwilliams opened #9 "Project Idea: "OSM for Parks" Primer"
#### Idea:

The ability to import trail data into OSM is a primary goal that has driven design of the specification. We've found that describing OSM, and its value, to park agencies and staff is often a challenge. A primer specifically for this audience would go a along way.
#### Description:

A graphically-rich print or web design piece that explains:
- The purpose, scale, and uses of OpenStreetM

[2014-05-13 17:45] alanjosephwilliams opened #10 "Project Idea: Measure Access to Parks and Trails"
#### Idea

A primary motivator for park governments to publish data in PLATS is to increase access to that information, and in turn, increasing access to the parks and trail system itself. It could be helpful to actually measure access to parks and trails at the outset of that transformation, giving parks a better understanding of which communities need more assistance or communications efforts.
#

[2014-05-13 17:45] #1 closed, assigned to nobody

[2014-05-13 17:50] alanjosephwilliams opened #11 "Project Idea: Help Park Agencies Target Voters"
#### Description

Many park and trail stewards rely on dedicated tax revenues to support the conservation work for which they are responsible. Whether its annually, bi-annually, or every five years, parks inevitably need to win voter renewal of those dedicates revenues. However, because parks operate on limited budgets, these campaigns are often conducted by park staff in their spare time. Anythin

[2014-05-13 17:57] alanjosephwilliams opened #12 "Project Idea: Trail Prescriptions"
#### Idea

As public health becomes an increasing focus of local governments and regional collaborations, the practice of "Park Prescriptions" has emerged. Basically, doctors and healthcare workers prescribe physical activity to people at risk of heart disease, weight-related health effects, and more.
#### Description
- Provide healthcare practitioners with an easy way to enter an address, and get

[2014-05-13 18:00] junosuarez commented on #1
@alanjosephwilliams was this closed with an update to the readme as mentioned in the issue? I'm interested in continuing to follow this issue.

[2014-05-13 18:05] alanjosephwilliams commented on #1
@jden I chose to break out each idea into a separate issue (now finished), rather than the readme. I'm open to feedback on process though.

[2014-05-13 18:07] junosuarez commented on #1
That's a good strategy! Labels work great for organizing / grouping github issues

For the sake of anyone coming across this, from what I could tell, the resulting broken-out issues are:
- #8 #9 #10 #11 #12

[2014-05-14 06:34] anselmbradford commented on #1
Hey guys, I've added the "hack request" label to these issues. This is a convention that is spread across several CfA repos that I picked up from @ondrae. You can advertise one URL to bring them up:
https://github.com/codeforamerica/PLATS/issues?labels=hack+request&state=open

Considering fleshing out details of skills needed and check boxes of steps needed for implementation, if applicable. See t

[2014-05-14 06:38] alanjosephwilliams commented on #1
This is a great improvement, thanks Ans! We will definitely flesh out the
skills need and steps in the coming days.

On Tue, May 13, 2014 at 11:34 PM, Ans notifications@github.com wrote:

##

t:  @alanjosephwilli
p: 817 713 6264

[2014-05-14 12:13] louh commented on #1
Is this Hack Requests repo still being used? https://github.com/codeforamerica/hack-requests

I just sent that link out to someone.

[2014-05-14 14:55] alanjosephwilliams commented on #1
Doesn't seem particularly active. No commits or issues for a couple months.

On Wed, May 14, 2014 at 5:13 AM, Lou Huang notifications@github.com wrote:

##

t:  @alanjosephwilli
p: 817 713 6264

[2014-05-14 16:20] migurski commented on #1
No, not strongly active. It is/was a first draft of ideas for hack requests, a few got some traction and saw some progress on a few. We still use the term though, and @ondrae’s plan for moving to issue labels is the current plan.

[2014-05-14 22:04] alanjosephwilliams opened #14 "Create namedTrails.csv from trailsegments.geojson"
- Create an empty csv file called namedTrails.csv with [PLATS-compliant columns](https://docs.google.com/a/codeforamerica.org/document/d/1KF8KAio-SqGHhh9oFY_KjfwIi3PePOHg7KfTSPh27fc/edit#)
- Open up trailsegments.geojson (uploaded by user)
- Loop through each segment.
  - For each segment, create empty array
  - For each column with string "trail" in title, add value to array (creating an array of

[2014-05-14 22:37] alanjosephwilliams opened #15 "Project Idea: TrailMix"
#### Description

As part of the PLATS conversion tool, we are going to produce a unique URLs for each batch of data uploaded---providing agencies with a way to return to the transformation process if they need additional time, information or data.

This is a pattern we saw with [Streetmix](https://github.com/codeforamerica/streetmix) and now [TransitMix](https://github.com/codeforamerica/transitm

[2014-05-14 22:51] samhashemi commented on #15
Tempted to name my court app TrialMix

[2014-05-14 23:00] alanjosephwilliams commented on #15
mix all the things!

[2014-05-14 23:36] jmoe opened #16 "Project Idea: Trailhead Blitz"
Let's figure out a cool way for the community to contribute trailhead data by going out into the field and taking photos! It would be great to come away with something that would let people put photos in and get PLATS trailhead data back out.

[2014-05-15 18:10] anselmbradford commented on #16
What's the linking of photos to trails look like in this idea? Is it photos linked to a specific trail manually or linking to [geotagged photos](http://en.wikipedia.org/wiki/Geotagged_photograph) or both?

[2014-05-15 19:37] jmoe commented on #16
Not sure yet! :-) But I believe photos would end up being linked to Trailheads, which are linked to Trails. Totally spitballing here but I imagine a workflow like
1. User takes new photo with mobile device (location is pulled from GPS), or selects existing photo (location is pulled from EXIF data)
2. User reviews and is able to verify or correct location (sort of like how Uber allows user to speci

[2014-05-15 19:52] anselmbradford commented on #16
Perhaps for a prototype the Flickr API could be used to pull in geotagged photos. Then all the photo management could be handled by Flickr (https://www.flickr.com/services/api/flickr.photos.search.html).

[2014-05-16 16:37] jmoe commented on #16
Yup! That's exactly what we did for http://www.transitandtrails.org. There are some issues to be aware of with doing that though, specifically around licensing and terms of service. So just be cognizant if that is the implementation. We are hoping to provide a photo storage option as part of an outdoor platform product we are building called OuterSpatial. It's almost ready for testing, we hope to

[2014-05-17 01:07] louh commented on #15
Recently on my radar (besides any mention of the search term *mix) is this method of creating unique citation IDs intended for academic reference (a common use case being citation of materials that might change URLs over time, but they seem to want to expand its use to potentially any digital object) - http://ezid.cdlib.org/

[2014-05-17 20:30] junosuarez commented on #15
@louh I'm skeptical of identifiers which have to be issued by a centralized agency. For nearly all use cases, UUIDs work perfectly well. I know TransitMix went from longer IDs to integer serial numbers for the sake of readable URLs, but that's not really scalable long-term under heavy use. Beyond UUIDs, MongoDB ObjectIDs have the interesting property of being sortable by creation time, since the f

[2014-05-17 22:12] migurski commented on #15
Why wouldn’t integers be scalable? There’s loads of them.

If you don't want IDs to be guessable (can think of reasons for this) you might make short randomized values and prevent dupes with an IDs table. I’ve found UUIDs to be aesthetically challenging: they're very, very long for this purpose and can lead to some unsightly URLs.

[2014-05-19 18:49] alanjosephwilliams opened #17 "Generate a directory of URLs created"
#### Description

Our plan is to generate a unique URL for each organization that begins the transformation process. This unique URL will allow organizations to initiate the process, pause, and pick up where they left off---as long as they have the URL.

Once the transformation process is complete, this URL will serve as a home for static PLATS-data, as well as its OSM-ready variant, for download

[2014-05-19 18:55] ondrae opened #18 "Unique URL for each organization"
#### Description

Each organization that is using the Open Trails service will get its own URL to work on. They will use this url to download their open trails data, and also return to to continue the process if they stop in the middle.

It'll work like this:
- San Antonio Parks goes to our website.
- They put San Antonio Parks as the org name.
- We create a folder on S3 call San-Antonio-Parks
- I

[2014-05-19 19:00] ondrae commented on #17
We can use S3 as our directory here. We'll pull down the list of folders and display links to each one from our service.
How to: http://stackoverflow.com/questions/17375127/how-can-i-get-list-of-only-folders-in-amazon-3-using-python-boto

[2014-05-19 21:38] alanjosephwilliams opened #20 "Step 2: Upload and Transform Trail Segments"
_Note: this is a broad-brushstroke description of this phase of transformation. Please see the step by step issues for how each attribute is identified and transformed_
##### Convert Trail Segments
- Solicit a ZIP file that contains a polyline shapefile named "trailsegments.shp", and associated files
  - Give the user feedback about whether files were successfully uploaded
    - Table of relevant

[2014-05-19 22:02] jmoe commented on #9
+1

I would be a consumer of this.

[2014-05-19 22:04] jmoe commented on #9
Especially useful would be a description of the general philosophy behind how data gets into OSM and what it means to be an authoritative source in the context of OSM. So, really once data is "OSM-ready" what happens next? What are the paths that the data can take to eventually being seen on an OSM map.

[2014-05-19 23:45] alanjosephwilliams opened #21 "Validate names of files uploaded"
#### Description

Before agency users upload data, we are going to ask them to rename the files to meet those names required by the specification. Specifically:
- trailsegments.shp
- trailheads.shp
- areas.shp

and
- namedtrails.csv
- stewards.csv

Thus, we want to:
- [ ] evaluate the names of the files
- [ ] show the names of the files when uploaded
- [ ] throw an error if they do not meet the ex

[2014-05-19 23:52] migurski commented on #21
In the spirit of Jon Postel, could the script use the geometry type of each file to guess which is which? Linestrings must be segments, Points must be trail heads.

[2014-05-20 00:09] alanjosephwilliams commented on #21
Right--we have a single file for each geometry type, so that inference should be straightforward.

We were thinking that we would be very specific in what we ask from input data:
- A single zip file which contains the complete set of files required for each layer of geodata (shp, sbn, dbf, etc.) --though we don't require all 3 layers (trailheads, segments, areas) be present.
- That there not any f

[2014-05-20 00:14] migurski commented on #21
That would give us a lot of duplicate information, which is actually great because it’s an opportunity for people to confirm their meaning. If a points file is called "segments" then it’s a useful piece of feedback to give uploaders, much more than a generic exception and a 400 error. I'm imagining unit tests with lots of calls to self.assertRaises()…

[2014-05-28 15:47] mtnbkr1 commented on #16
Are you thinking about something similar to Everytrail (http://www.everytrail.com/)?

[2014-06-03 20:26] #16 closed, assigned to nobody

[2014-06-03 20:30] #12 closed, assigned to nobody

[2014-06-03 20:30] #15 closed, assigned to nobody

[2014-06-03 20:33] #8 closed, assigned to nobody

[2014-06-03 20:34] #7 closed, assigned to nobody

[2014-06-03 20:34] #9 closed, assigned to nobody

[2014-06-03 20:34] #10 closed, assigned to nobody

[2014-06-03 20:34] #11 closed, assigned to nobody

[2014-06-03 20:34] #14 closed, assigned to nobody

[2014-06-03 20:40] #17 closed, assigned to nobody

[2014-06-06 21:16] alanjosephwilliams opened #23 "Step 1: Register Organization (steward) & Create stewards.csv"
##### Description

This initial step has two outcomes.

_First_, registering an organization allows the Converter Tool to create a unique URL under which users will conduct their data transformation. With this unique URL, users are able to revisit the process and share their work with others in their organizations. Moreover, it allows us to produce an index of all organizations that have converted

[2014-06-06 21:35] alanjosephwilliams opened #24 "Step 3: Upload or Extract Named Trails"
_Note: this is a broad-brushstroke description of this phase of transformation. Please see the step by step issues for how each attribute is identified and transformed_
#### Description

User is present with two options, and chooses one or the other:
- Upload a spreadsheet or CSV
- Extract them from the previously uploaded trail_segments file.
##### Upload
- Upload a file to be converted

  _Basic

[2014-06-07 00:29] ondrae opened #25 "Create simplified geojson to show on map"
#### Description

Many stewards shapefiles of trail data are huge! They are big enough to really slow down a browser when shown on a map.

We should create a sample-segments.geojson in addition to the full segments.json file. We'd show the sample file on the map.

We can show every 10th trail in a shapefile. We can also simplify the segments with `ogr2ogr -t_srs EPSG:4326 -simplify 500 -f GeoJSON

[2014-06-07 00:42] junosuarez commented on #25
ogr2ogr is great. I've also used https://www.npmjs.org/package/simplify-geojson for the same task

[2014-06-09 23:27] ondrae commented on #25
Thanks @jden, I'll check it out.

[2014-06-09 23:28] ondrae commented on #25
I'm thinking a good file structure will be like:

[code]

[2014-06-10 01:36] migurski commented on #25
I'd still like to caution against doing anything by steward.

[2014-06-11 20:07] alanjosephwilliams opened #26 ""id" column identification/creation"
### Goal

We need to identify or create a unique id for each feature in the trail segment data uploaded. We need to check column names in the uploaded shapefile, and determine which (if any) contains values that should be used as the "id" property in the newly-produced GeoJSON file named "trail_segments.geojson".
#### Sample Data

In the sample data we have on hand, 3/7 datasets have a recognizabl

[2014-06-11 20:16] migurski commented on #26
Assign a GUID, possibilities include UUID and [Brooklyn Integers](http://www.brooklynintegers.com) (I let Mission Integers expire).

[2014-06-11 23:06] alanjosephwilliams opened #27 ""steward_id" identification/creation"
### Goals & Assumptions

Associate each segment feature with a steward. Make this association using "id" value found in the stewards.csv file.

The "id" value and the stewards.csv file is created in Step 1 of the process described in #23 . It is created only for the single organization that has initiated the upload and convert process.

We expect segment features to often have no concept of a stew

[2014-06-12 02:36] junosuarez commented on #26
With Mission Integers gone, I don't even know what to make of my life anymore :|

[2014-06-12 02:38] migurski commented on #26
It got priced out of the Mission.

[2014-06-12 02:38] junosuarez commented on #26
Also, +1 for UUIDs. This enables really cool things like creating (and reliably syncing) new trailheads in an offline environment, such as from a mobile offline-first web application.

[2014-06-12 17:22] alanjosephwilliams opened #28 ""foot" identification/creation"
### Goal

Identify whether or not there is an existing column that specifies hiking as an appropriate use. In [OpenTrails](https://docs.google.com/a/codeforamerica.org/document/d/1KF8KAio-SqGHhh9oFY_KjfwIi3PePOHg7KfTSPh27fc/edit) parlance, we refer to that field as "foot" (derived from OSM).

The appropriate value is a boolean "yes" or "no"
#### Sample Data Use Case A: Discrete "Hike/Foot" Field E

[2014-06-12 18:34] alanjosephwilliams opened #29 ""bike" identification/creation"
### Goal

Identify whether or not there is an existing column that specifies biking as an appropriate use. In [OpenTrails](https://docs.google.com/a/codeforamerica.org/document/d/1KF8KAio-SqGHhh9oFY_KjfwIi3PePOHg7KfTSPh27fc/edit) parlance, we refer to that field as "bike" (derived from OSM).

The appropriate value is a boolean "yes" or "no"

"biking" should be read as synonymous with road biking,

[2014-06-12 18:41] alanjosephwilliams opened #30 ""horse" identification/creation"
### Goal

Identify whether or not there is an existing column that specifies horse-riding as an appropriate use. In [OpenTrails](https://docs.google.com/a/codeforamerica.org/document/d/1KF8KAio-SqGHhh9oFY_KjfwIi3PePOHg7KfTSPh27fc/edit) parlance, we refer to that field as "horse" (derived from OSM).

The appropriate value is a boolean "yes" or "no"
#### Sample Data Use Case A: Discrete "horse" or "

[2014-06-12 19:15] alanjosephwilliams opened #31 ""ski" identification/creation"
### Goal

Identify whether or not there is an existing column that specifies cross-country skiing as an appropriate use. In [OpenTrails](https://github.com/codeforamerica/health-project-ideas/issues?direction=desc&sort=comments&state=open) parlance, we refer to that field as "ski" (derived from OSM).

The appropriate value is a boolean "yes" or "no"
#### Sample Data Use Case A: Discrete "Ski" Fiel

[2014-06-12 19:31] alanjosephwilliams opened #32 ""wheelchair" identification/creation"
### Goal

Identify whether or not there is an existing column that specifies biking as an appropriate use. In [OpenTrails](https://docs.google.com/a/codeforamerica.org/document/d/1KF8KAio-SqGHhh9oFY_KjfwIi3PePOHg7KfTSPh27fc/edit) parlance, we refer to that field as "wheelchair" (derived from OSM).

The appropriate value is a boolean "yes" or "no"

"biking" should be read as synonymous with road bi

[2014-06-12 19:48] alanjosephwilliams opened #33 ""motor_vehicles" identification/creation"
### Goal

Identify whether or not there is an existing column that specifies any use of motor vehicles as an appropriate use. In [OpenTrails](https://github.com/codeforamerica/health-project-ideas/issues?direction=desc&sort=comments&state=open) parlance, we refer to that field as "foot" (derived from OSM).

The appropriate value is a boolean "yes" or "no"
#### Sample Data Use Case A: One of many f

[2014-06-12 20:05] alanjosephwilliams opened #34 "osm_tags creation"
### Goal

Create a new property titled "osm_tags". Deliberate publishers of data will be able to extend the expressiveness of OpenTrails through an array of key-value pairs.

Key-value pairs should be included in osm_tags not individually, but rather as members of sets---in OpenTrails, we call these Extension Profiles.

The goal of this portion of the transformation is to ask whether or not the ag

[2014-06-12 20:49] alanjosephwilliams opened #35 "Create named_trails.csv, extract Named Trails from segments file"
### Goal

Create a named_trails.csv file, and populate it based on the values found in "trail name" columns of the segment file.

This goal reflects the fact that few agencies maintain a "named_trails" file discretely from their segments. Most often, many segments in a file will simply have the same value for a column like "TRAIL" or "TRAILNAME"
- Create a named_trails.csv with the following colum

[2014-06-12 21:10] alanjosephwilliams opened #36 "Trailhead "name" identification/creation"
### Goal

Identify which column in the uploaded point file contains a written name for each trailhead. Assign the values from the column to the "name" attribute defined in OpenTrails.
#### Approach

key strings: "name" "thname"
- Identify whether a name column exists based on the key strings above.
- If so, use that value as the value of the "name" property for each feature
- If no, leave the "pro

[2014-06-12 21:20] alanjosephwilliams opened #37 "trailhead "id" value identification/creation"
### Goal

Identify whether or not the trailhead file contains unique "id" values. If it does, assign those values to the "id" property required by OpenTrails. If not, create unique ids for each trailhead.

key strings: "id" "OBJECTID"
#### Approach for Creating unique IDs

We have been creating unique IDs for stewards and trail segments using a scheme recommended by [OpenTrails](https://docs.googl

[2014-06-12 21:35] alanjosephwilliams opened #38 "trailhead "steward_id" identification/creation"
### Goal

Associate each trailhead feature with a single steward, so that visitors/end-users know who to contact when assistance or more information is necessary when they are on site.
#### Approach

key string: "steward" "agency" "org" "maint"

**Use Case A: No steward information in the trailhead file**

We have not yet seen sample data for trailhead in which a steward is identified either by na

[2014-06-12 22:10] alanjosephwilliams opened #39 "trailheads "trail_ids" identification/creation"
### Goal

The primary value of trailheads comes from their role as points of access for named trails.
We want to associate each trailhead feature with one or more feature in named_trails.csv through the "id" of those named_trails.

key strings: "trail" trailname" trail#"
#### Approach

Use Case A: One or more trail name columns exist

In the Ohio data, the trailhead data includes associations with

[2014-06-12 22:16] alanjosephwilliams opened #40 "trailhead "area_id" identification/creation"
This field is not required, and the file with which it is associated is also not required. In the data upload flow we have established, the data necessary to make this association has not yet been provided. For now, this field should be created but the value should left null

[2014-06-12 22:25] #23 closed, assigned to nobody

[2014-06-12 22:28] alanjosephwilliams opened #41 "trailhead "address" identification/creation"
### Goals

Trailheads are points of access for trails. Thus, they are often used as destinations for routing end users from their current location to the trail.

Thus, we want to identify whether the trailhead data file uploaded contains a string representing a street address.

_note that the "address" field is not required_
#### Approach

key strings: "add" "address" "street "siteaddr"
- Check co

[2014-06-12 22:39] alanjosephwilliams opened #42 "trailhead "parking" identification/creation"
### Goal

Identify whether or not the uploaded trailhead data contains an indication as to whether parking is available on site.
#### Approach

key strings: "park" "parking", "non parking" "none" "no parking" "parking lot" "roadside"

In the majority of sample data, no column describing the presence of parking exists. In this case, leave the value of the parking attribute null.

In a minority of s

[2014-06-12 23:10] alanjosephwilliams opened #43 "trailhead "drinkwater" identification/creation"
### Goal

Identify whether or not the uploaded trailhead data contains an indication as to whether drinking water is available on site.
#### Approach

key strings: "water" "drinkingwa", "drinkwater"

In the majority of sample data, no column describing the presence of drinking water exists. In this case, leave the value of the "drinkwater" attribute null.

In a minority of sample data we have on h

[2014-06-12 23:13] alanjosephwilliams opened #44 "trailhead "restrooms" identification/creation"
### Goal

Identify whether or not the uploaded trailhead data contains an indication as to whether drinking water is available on site.
#### Approach

key strings: "restroom" "bathroom", "toilet"

In the majority of sample data, no column describing the presence of restrooms exists. In this case, leave the value of the parking attribute null.

In a minority of sample data we have on hand, a column

[2014-06-12 23:16] alanjosephwilliams opened #45 "trailhead "kiosk" identification/creation"
### Goal

Identify whether or not the uploaded trailhead data contains an indication as to whether or not an information kiosk or installation is available on site.
#### Approach

key strings: "info" "kiosk", "information"

In the majority of sample data, no column describing the presence of information assets exists. In this case, leave the value of the "kiosk" attribute null.

In a minority of s

[2014-06-12 23:20] alanjosephwilliams opened #46 "trailhead "osm_tag" creation"
### Goal

Create a new property titled "osm_tags". Deliberate publishers of data will be able to extend the expressiveness of OpenTrails through an array of key-value pairs.

Key-value pairs should be included in osm_tags not individually, but rather as members of sets---in OpenTrails, we call these Extension Profiles.

The goal of this portion of the transformation is to ask whether or not the ag

[2014-07-01 05:52] migurski commented on #34
Can you remind me where the extension profile is documented?

[2014-07-01 16:01] alanjosephwilliams commented on #34
Currently they are exclusively documented in the finalized v1.0 draft, as appendices:

https://docs.google.com/a/codeforamerica.org/document/d/1KF8KAio-SqGHhh9oFY_KjfwIi3PePOHg7KfTSPh27fc/edit

[2014-07-02 05:14] migurski opened #47 "Fix deeply-nested zip archive bug"
Noted by @alanjosephwilliams, uploads with a nested folder structure hide the .shp file too deeply.

[2014-07-02 05:36] #47 closed, assigned to migurski

[2014-07-03 04:34] migurski commented on #26
I’ve [gone with numeric IDs](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L25) for now; [find_segment_id()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L56) adequately implements this column.

[2014-07-03 04:34] #26 closed, assigned to nobody

[2014-07-03 04:35] migurski commented on #28
Implemented in [find_segment_foot_use()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L131).

[2014-07-03 04:35] #28 closed, assigned to nobody

[2014-07-03 04:36] migurski commented on #29
Implemented in [find_segment_bicycle_use()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L155).

[2014-07-03 04:36] #29 closed, assigned to nobody

[2014-07-03 04:36] migurski commented on #30
Implemented in [find_segment_horse_use()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L179).

[2014-07-03 04:36] #30 closed, assigned to nobody

[2014-07-03 04:37] migurski commented on #31
Implemented in [find_segment_ski_use()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L203).

[2014-07-03 04:37] #31 closed, assigned to nobody

[2014-07-03 04:37] migurski commented on #32
Implemented in [find_segment_wheelchair_use()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L227).

[2014-07-03 04:37] #32 closed, assigned to nobody

[2014-07-03 04:37] migurski commented on #33
Implemented in [find_segment_motor_vehicles_use()](https://github.com/codeforamerica/PLATS/blob/3d40cbb3ad15924b894d9d98fe125a21b3644644/open_trails/transformers.py#L244).

[2014-07-03 04:37] #33 closed, assigned to nobody

[2014-07-03 05:23] migurski commented on #35
Generating a CSV based on same-named trails from segments file in [make_name_trails()](https://github.com/codeforamerica/PLATS/blob/ef7c887ebbc030d80c9acf073155d64b30d42e0c/open_trails/functions.py#L96).

[2014-07-03 05:23] #35 closed, assigned to nobody

[2014-07-03 05:31] migurski commented on #21
The process now requires each file to be uploaded in turn at a specific point, so this will no longer be asked of users.

[2014-07-03 05:31] #21 closed, assigned to nobody

[2014-07-03 05:31] migurski commented on #18
We’re now doing URLs for _uploads_, not stewards or orgs.

[2014-07-03 05:31] #18 closed, assigned to nobody

[2014-07-03 05:33] migurski commented on #5
@alanjosephwilliams is this structure now accounted-for in the other issues?

[2014-07-03 05:33] migurski commented on #20
A variant of this is now done.

[2014-07-03 05:33] #20 closed, assigned to nobody

[2014-07-03 05:34] migurski commented on #24
A variant of this is now done.

[2014-07-03 05:34] #24 closed, assigned to nobody

[2014-07-03 11:48] alanjosephwilliams commented on #5
@migurski yes, the other issues describe NRPA field names in the "key strings", and generally take their structure into consideration.

[2014-07-03 11:48] #5 closed, assigned to nobody

[2014-07-03 14:59] alanjosephwilliams opened #48 "Warning / Error / Sucess Message Copywriting"
This ticket documents all of the error messages needed and completed for a complete version of the converter.
#### Segment Messages
- trail ID (find_segment_id)
  - [x] Warning
    - 'No column found for trail ID, such as "id" or "trailid". A new numeric ID was created.'
  - [x] Error
  - [ ] Success
- name (find_segment_name)
  - [x] Warning
  - [x] Error
    - 'No column found for trail name, su

[2014-07-03 15:38] alanjosephwilliams opened #49 "Update /trails/index.html to funnel users to converter and validator"
This issue is a stub for reference.

[2014-07-03 15:39] alanjosephwilliams opened #50 "Converter Flow"
##### Step 1: Upload Page (/datasets/numeric-unique-id)
###### This page should provide the following information:
- [ ] Guidance on what kind of data to upload.
- [ ] A visual indication that we are soliciting trail segments (polyline data).
- [ ] A visual indication that we are not yet soliciting other data (points and polygons).
- [ ] An indication of acceptable file types—specifically shapefil

[2014-07-03 18:22] migurski commented on #48
I have created a [set of error HTML files](https://github.com/codeforamerica/PLATS/tree/33eb10d035ad87aeaa622aa4271ee30d0059c3f1/open_trails/templates) for you to populate with words. They are controlled in [`transformers.py`’s messages list](https://github.com/codeforamerica/PLATS/blob/33eb10d035ad87aeaa622aa4271ee30d0059c3f1/open_trails/transformers.py#L69) and displayed by [`get_error`](https:/

[2014-07-03 18:46] migurski opened #51 "Build validator workflow"

[2014-07-03 18:47] migurski opened #52 "Provide for partial Open Trails data download after named_trails.csv creation"
Putting the trailheads off to the side for the moment, we need to be able to generate a compliant .zip file at the second step. Must be compatible with #51.

[2014-07-03 21:30] #52 closed, assigned to migurski

[2014-07-03 23:49] migurski opened #53 "Generate example Open Trails datasets"
We will need some small sample datasets to push through the validator (#51). Alan, can you put a few together? I can use them as a baseline to generate some informative bugs.

[2014-07-05 21:15] migurski commented on #48
I have added [new error HTML files](https://github.com/codeforamerica/PLATS/tree/b03a971f464409c2feafa4d4e4cc0dc274b73a21/open_trails/templates) for the validation process in https://github.com/codeforamerica/PLATS/commit/b03a971f464409c2feafa4d4e4cc0dc274b73a21.

[2014-07-06 22:28] #51 closed, assigned to migurski

[2014-07-07 01:24] migurski opened #55 "Remove yellow “active development” bar"
It’s really big, doesn’t add much. Move it to the bottom or shrink it to ~25px if it needs to be there.

[2014-07-07 01:26] migurski opened #56 "Reformat Convert/Validate choices on front page to side-by-side layout"
They're parallel choices.

[2014-07-07 01:28] migurski opened #57 "Pull next action forms higher on page"
Each step of the conversion flow has the action forms (upload, etc.) quite far down the page. The primary form element should be below the title but above the main descriptive text.

[2014-07-07 01:29] migurski opened #58 "Generate or accept stewards.csv"
- [x] Render forthcoming `datasets-05-stewards.html` template.
- [x] Complete the form on `/named-trails` or make it possible for a user to upload.

[2014-07-07 01:30] migurski commented on #50
This issue is old, big, and affected by the recent merge. @alanjosephwilliams can you update it with current information?

[2014-07-07 01:31] migurski commented on #49
Done, with some visual work to do in #56.

[2014-07-07 01:31] #49 closed, assigned to alanjosephwilliams

[2014-07-07 01:32] migurski commented on #27
See also #58.

[2014-07-07 01:32] migurski commented on #6
Closing this out-of-date ticket.

[2014-07-07 01:32] #6 closed, assigned to nobody

[2014-07-07 13:59] alanjosephwilliams commented on #56
Accomplished via 5695c5e0e78212e1240071842d322b77e38d1ca3. Will close when the PR is merged.

[2014-07-07 14:01] alanjosephwilliams opened #59 "Update README"
Stub for reference

[2014-07-07 14:02] alanjosephwilliams commented on #55
My inclination was to provide an unavoidable message about the tool's stage of development. The alternative is to write copy that reinforces its state. Including (and removing) an alert seems like less overhead. We will want to update the README (#59) before the UC as well, since the alert links people to it.

Anyway, I reduced its prominence substantially (though not its position) via a55f113ffc2

[2014-07-07 14:54] alanjosephwilliams commented on #57
Agreed. I've pull all of the actions above the fold, and updated the titles to reinforce that action in 43388432cb5d224ea84f74307b52028a11513396. I'll leave this ticket open until we merge the PR.

[2014-07-07 17:21] migurski commented on #55
Yeah the message is important, it was just pushing more salient things down the page. It might really only need to be there on the front-front?

[2014-07-07 20:50] alanjosephwilliams commented on #58
@migurski if this can be prioritized on your end, I can make sure the copy/layout is solid for that final page.

Actually, I suppose just adding a function in routes.py that renders the datasets-05-stewards.html template would allow that front-end work to begin.

[2014-07-07 21:15] migurski commented on #58
I can do that—on master, okay?

[2014-07-07 21:16] alanjosephwilliams commented on #58
absolutely

On Tue, Jul 8, 2014 at 12:15 AM, migurski notifications@github.com wrote:

##

t:  @alanjosephwilli
p: 817 713 6264

[2014-07-09 21:02] #58 closed, assigned to migurski

[2014-07-09 21:31] migurski commented on #27
Generating a single steward with ID `"0"` in a1ce91d98d69dd7ddb95e550fe3ad3050365a2f4.

[2014-07-09 21:31] #27 closed, assigned to migurski

[2014-07-10 17:49] migurski commented on #55
Fixed in https://github.com/codeforamerica/PLATS/commit/098d39f3d09f99e6e52dc711132c70c76821cf0e.

[2014-07-10 17:49] #55 closed, assigned to alanjosephwilliams

[2014-07-10 17:49] migurski commented on #56
Fixed in https://github.com/codeforamerica/PLATS/commit/098d39f3d09f99e6e52dc711132c70c76821cf0e.

[2014-07-10 17:49] #56 closed, assigned to alanjosephwilliams

[2014-07-10 17:49] migurski commented on #57
Fixed in https://github.com/codeforamerica/PLATS/commit/098d39f3d09f99e6e52dc711132c70c76821cf0e.

[2014-07-10 17:49] #57 closed, assigned to alanjosephwilliams

[2014-07-12 13:28] alanjosephwilliams opened #61 "Fix Sentinel Font Loading Error"
Console message:

Failed to load resource: the server responded with a status of 403 (Forbidden) http://cloud.typography.com/6435252/678502/css/fonts.css

Because the app is not under codeforamerica.org, we do not have permission to load the typography used by the site (no problem with the rest of CfA styles).

We can always download and load manually in the short term, if necessary.

[2014-07-12 13:32] alanjosephwilliams opened #62 "Sort Validator Feedback Messages by File"
Currently, we sort the validator alerts only by type. Errors are listed first, then warnings, then success alerts.

It will improve the user's ability to quickly scan the messages, and to identify whether or not certain problems they anticipate or are particularly curious about, if we can group these messages by file.

[2014-07-12 13:34] alanjosephwilliams opened #63 "Style "only .zip files allowed" Validator error page"
If the user tries to upload any type of file other than a .zip, we currently serve a plain HTML page that indicates that only .zip files are allowed. This page should be styled consistently with the rest of the app.

[2014-07-12 13:42] alanjosephwilliams opened #64 "Unicode values in feedback messages—just displayed, or being evaluated?"
When running some near-OpenTrails compliant data through the validator, many fields generated errors based allowed values.

As seen in the screenshot, the error messages display the unicode tag along with the value that has triggered the error message.

@migurski do you know whether these error messages are triggered because we are evaluating the value and running into the unicode tag as well? Or

[2014-07-12 14:00] alanjosephwilliams opened #65 "Produce helpful error message on upload timeout failure"
On the production open-trails.herokuapp.com (but not locally), the Validator crashes when the the full set of [OpenTrails data describing the Ohio system](https://github.com/codeforamerica/PLATS/blob/69efd0f06a7078ba5cae960a50f7bb0be50cc810/test-files/ohio-opentrails.zip) (which is 1.6 MB, with all five files included) is uploaded.

![screenshot 2014-07-12 15 11 15](https://cloud.githubusercontent

[2014-07-12 14:09] alanjosephwilliams opened #66 "TypeError when extracting Named Trails"
Bug encountered when attempting to convert [segment data from Santa Clara county](https://github.com/codeforamerica/PLATS/blob/5a8ae5a961eb5c77807e0b9879c2214552bb9b24/test-files/santa-clara-segments.zip) locally.

Will try to reproduce on the production app so I can provide a URL. Here is a screenshot for the time being.

![screenshot 2014-07-12 17 06 30](https://cloud.githubusercontent.com/asset

[2014-07-12 14:18] alanjosephwilliams opened #67 "ogr2ogr error on segment upload for conversion"
When uploading the [East Bay Regional Park District segment data](https://github.com/codeforamerica/PLATS/blob/adc021bb2b478058df3d9e7d1efc0a6f55441762/test-files/ebrpd-segments.zip) to the converter locally, there is a ogr2ogr failure. Will investigate further, including trying to reproduce on production, but a screenshot is included below for the time being.

![screenshot 2014-07-12 16 13 30](ht

[2014-07-12 14:35] alanjosephwilliams commented on #50
Updated, but I am going to go ahead and close, as I think the extent of the flow has been established.

[2014-07-12 14:35] #50 closed, assigned to alanjosephwilliams

[2014-07-12 14:37] alanjosephwilliams opened #68 "Author content for last step of the converter process"
Once the opentrails.zip file is ready for download, we currently leave the user rather abruptly. Content needs to be written that gives them direction on how the data can be used (validator, links to apps), and thoughts about how to make it available to third parties.

[2014-07-12 14:43] alanjosephwilliams opened #69 "Copywriting setting upload time expectations"
Currently, the upload times for datasets around ~1-2 MB are long enough that I end up tabbing over to other tasks on the web (for both the converter and validator). I suppose this is alright, but I would rather not get tired of waiting before I choose to do so—we should let people know up front that it is going to take a minute or two.

[2014-07-12 15:28] migurski commented on #66
I can't reproduce this in either the production app or my local copy.

[2014-07-12 15:31] migurski commented on #65
I wasn't able to replicate this bug on the live site or my local copy.

[2014-07-12 15:32] migurski commented on #64
I’m guessing it’s a capital-Y thing.

[2014-07-12 15:37] migurski commented on #61
I'll eventually put this under a CfA subdomain, so this will be a non-issue.

[2014-07-12 15:37] #61 closed, assigned to alanjosephwilliams

[2014-07-13 00:01] migurski commented on #61
Live now: http://open-trails.codeforamerica.org

[2014-07-13 14:26] alanjosephwilliams commented on #64
Ok, I'll look into preventing the rendering of the unicode tag then.

[2014-07-14 13:14] alanjosephwilliams commented on #65
Based on the Heroku logs, and my ability to reproduce only on public connections (like hotel lobbies), it appears to be a timeout issue:

`2014-07-13T14:44:58.251582+00:00 app[web.1]: 2014-07-13 14:44:58 [2] [CRITICAL] WORKER TIMEOUT (pid:25)`
`2014-07-13T14:44:58.264830+00:00 app[web.1]: 2014-07-13 14:44:58 [42] [INFO] Booting worker with pid: 42`
`2014-07-13T14:44:58.259190+00:00 app[web.1]: 201

[2014-07-14 13:36] ondrae commented on #65
You can upload direct to S3 from the client instead of to Heroku first. There might some way to put it into a separate process too.

You can notify the user when the file is uploaded, or just show it on screen when its finished.

[2014-07-14 13:37] alanjosephwilliams commented on #67
@migurski were you able to reproduce this error? I continue to run into it. @ondrae maybe you could try to reproduce as well?

It appears that it might be related to the filename that is being processes. The files included in the zip are named as follows:
- MstrPln_Trls.shp
- MstrPln_Trls.sbn
- MstrPln_Trls.shx
- MstrPln_Trls.dbf
- MstrPln_Trls.prj
- MstrPln_Trls.shp.xml

The error message is repo

[2014-07-14 13:59] alanjosephwilliams opened #70 "Investigate heavier-than-usual font-weight of Interstate"
The default font for body text in the CfA style guide is Interstate Regular. While it appears we are using this same font (and the same fallbacks), Interstate is rendering more heavily on the OpenTrails Tools site compared to the Code for America site.

Overriding adjustments to the font-weight are no help (though they can render it even heavier). This may resolve itself if the tool migrates under

[2014-07-14 16:06] migurski commented on #65
Direct to S3 is probably the way to go here. The feature is called something like Signed POST, and triggers a callback. A smart thing to use, and cuts down on one complete round trip.

[2014-07-14 16:07] migurski commented on #67
I was not able to. The dot-named file does look off, though. Unintended passenger from the Mac file system?

[2014-07-14 16:09] migurski commented on #70
Going to mark this closed; it's not in-scope for the Trails app since the CSS comes from outside.

[2014-07-14 16:09] #70 closed, assigned to nobody

[2014-07-14 16:31] alanjosephwilliams commented on #66
I'm still seeing this error, both locally and in production, with the sample data referenced.

On production, we generate an HTML-only page that says simply "Internal Server Error". The heroku logs match the flask debugger. After I finish content-v3, I'll take a look at debugging.

[2014-07-14 16:47] migurski commented on #66
Excellent. I plan to add this data to the tests.

[2014-07-14 16:50] migurski commented on #65
I’ve implemented this before [in PHP](https://github.com/migurski/paperwalking/blob/master/site/lib/data.php#L1191), can help as needed.

[2014-07-14 16:54] alanjosephwilliams commented on #65
This seems like an improvement that may be warranted in advance of UC—I can
imagine audience members attempting to upload data right there during or
after the talk, and hitting the timeout on wifi saddled with untold numbers
of conference goers.

Take this one as you see fit @migurski.

On Mon, Jul 14, 2014 at 6:50 PM, migurski notifications@github.com wrote:

##

t:  @alanjosephwilli
p: 817 713 6

[2014-07-14 16:55] migurski commented on #65
Good point, I will attempt to implement this.

[2014-07-15 00:35] alanjosephwilliams commented on #69
Is satisfied in #71

[2014-07-15 00:35] alanjosephwilliams commented on #68
Completed in #71

[2014-07-15 00:48] alanjosephwilliams commented on #59
Addressed in #71

[2014-07-15 00:48] alanjosephwilliams commented on #48
Satisfied by #71

[2014-07-15 07:09] migurski commented on #69
Merged.

[2014-07-15 07:09] #69 closed, assigned to alanjosephwilliams

[2014-07-15 07:09] migurski commented on #68
Merged.

[2014-07-15 07:09] #68 closed, assigned to alanjosephwilliams

[2014-07-15 07:09] migurski commented on #59
Merged.

[2014-07-15 07:09] #59 closed, assigned to alanjosephwilliams

[2014-07-15 07:09] migurski commented on #48
Merged.

[2014-07-15 07:09] #48 closed, assigned to alanjosephwilliams

[2014-08-04 22:35] alanjosephwilliams opened #73 "Author error pages for trailhead data"
Create error pages for all required and recommended fields
- [x] trail_ids
- [ ] steward_id
- [x] id
- [x] restrooms
- [x] kiosk
- [x] drinkwater
- [x] parking
- [x] address

[2014-08-04 22:40] migurski opened #74 "Internal Server Error at step 3"
E.g. http://open-trails.codeforamerica.org/datasets/f5b870d1-eea2-4843-aefb-151b8bc65142/transformed-segments

[2014-08-04 22:41] migurski opened #75 "Internal Server Error at step 1"
http://open-trails.codeforamerica.org/datasets/398c4b76-e93f-4291-85c5-e4cd53a6da62

[2014-08-04 22:48] #3 closed, assigned to nobody

[2014-08-04 22:48] #25 closed, assigned to nobody

[2014-08-05 06:56] jmoe commented on #75
I was able to reproduce this by trying to upload a file named "opentrails (2).zip"
When I renamed it "ohio_opentrails.zip" it worked fine.

[2014-08-05 07:01] alanjosephwilliams opened #76 "change "steward_ids" to "steward_id" to conform with spec"
In validators.py, we currently we check for field "steward_ids" and raise an error based on a definition of that field is not part of the finalized specification. In v1.0 of OpenTrails, "steward_id" is singular.

[2014-08-08 18:20] ryanbranciforte opened #78 "Question: Multi-part polylines/pts?"
I'm concerned about how the converter and OpenTrails will deal with multi-part lines and trailheads. This is basically when there is a segment that represents one record in the attribute table, but it is actually two different segments in different locations. I can explain this more if needed.

There needs to be some GIS processing before inputting into the converter.

More here: http://support.es

[2014-08-08 20:56] migurski commented on #78
Can you make a sample file so we can test?

[2014-08-09 01:17] ryanbranciforte commented on #78
Sent an example in email, sorry, not sure how to post a file to this chain.

[2014-08-10 23:22] migurski commented on #75
This looks connected to local/remote file storage magic that I'm slowly working on removing.

[2014-08-10 23:49] migurski commented on #74
This looks connected to local/remote file storage magic that I'm slowly working on removing.

[2014-08-11 00:09] #37 closed, assigned to migurski

[2014-08-11 00:09] #41 closed, assigned to migurski

[2014-08-11 00:09] #42 closed, assigned to migurski

[2014-08-11 00:09] #43 closed, assigned to migurski

[2014-08-11 00:09] #45 closed, assigned to migurski

[2014-08-11 00:09] #73 closed, assigned to alanjosephwilliams

[2014-08-11 00:10] #74 closed, assigned to migurski

[2014-08-11 00:10] #75 closed, assigned to migurski

[2014-08-11 00:10] migurski commented on #66
Fixed in 17bcc8c.

[2014-08-11 00:11] #66 closed, assigned to nobody

[2014-08-11 00:35] migurski commented on #67
Fixed earlier in 6822eca.

[2014-08-11 00:35] #67 closed, assigned to nobody

[2014-08-11 00:41] migurski commented on #44
Fixed in 76c71462 & 78022355.

[2014-08-11 00:41] #44 closed, assigned to migurski

[2014-08-11 00:42] migurski commented on #36
Added in 78022355.

[2014-08-11 00:42] #36 closed, assigned to migurski

[2014-08-11 00:45] migurski commented on #38
Handled in 78022355 and 3f41db78.

[2014-08-11 00:45] #38 closed, assigned to migurski

[2014-08-11 01:36] migurski commented on #53
Added Ohio in de68639.

[2014-08-12 07:28] alanjosephwilliams opened #79 "trail_ids currently omitted from trailheads.geojson in opentrails.zip"
- In our open-trails.zip, the trailheads.geojson file does not currently contain the trail_ids property, or any values.
- In the test data, those fields exist as many discrete columns, "Trail1", "Trail2" etc.
- This is likely because I had left those functions commented out, because I wasn't sure about the logic of grabbing strings from those fields and identifying a match in named_trails.csv's "n

[2014-08-13 01:19] alanjosephwilliams commented on #39
The needs here have changed, as OpenTrails v1.0 is being amended.

features in trailheads.geojson will now be associated with trail and trail attributes via relationships with features in  trail_segments.geojson rather than named_trails.csv

### Goal

Associate each trailhead with one or more trail segment via an array of ids. The property name is "segment_ids". The appropriate value is a string-e

[2014-08-13 04:54] #76 closed, assigned to alanjosephwilliams

[2014-08-13 04:56] migurski commented on #39
First priority fixed; let's make the second priority into a new ticket if it becomes important.

[2014-08-13 04:57] #39 closed, assigned to migurski

[2014-08-13 04:57] #64 closed, assigned to migurski

[2014-08-14 00:09] ryanbranciforte opened #81 "Change output fieldname "trail_ids" to "segment_ids" in trailheads.geojson"
Jmoe, is this what you were referring to?
![screen shot 2014-08-13 at 5 05 44 pm](https://cloud.githubusercontent.com/assets/2602563/3914472/435502f6-2347-11e4-8d16-4725b7b7a65e.png)

[2014-08-14 01:17] jmoe commented on #81
Yes. Currently the converter seems to be outputting trail_ids instead of trail_segment_ids. But maybe there is rationale for this? @alanjosephwilliams would know.

[2014-08-14 17:31] alanjosephwilliams commented on #81
I will look into our transformer functions and see if I can identify what needs to be changed.

It looks like the key name needs to change, but that the value is fine.

[2014-08-15 20:59] alanjosephwilliams opened #82 "Allow users with no trailhead data to "skip to download""
Currently, we only offer users the ability to download a zipfile of OpenTrails data once they have completed both the trailsegment and trailhead shapefile upload-and-transform process. **We should provide a "skip trailheads, let me download my data now" option for users with no trailhead data.**

Moreover, with today's [amendment to OpenTrails v1.0](https://groups.google.com/forum/#!profile/opentr

[2014-08-15 21:07] migurski commented on #82
Perhaps a "skip this step" button, so they'd continue to move through the process? Rather than a download shortcut.

[2014-08-15 21:08] alanjosephwilliams opened #83 "stewards.csv always assigns "0" as the steward_id in stewards.csv"
This is really a question for @migurski, whose opinions I defer to regarding the creation or approximation of IDs & UUIDs, and the practices we want to encourage in an open data specification ecosystem like OpenTrails.

Currently, the converter creates the stewards.csv file via manual input. When creating that file, the "id" column is created, and the value "0" is assigned. Across the conversion p

[2014-08-15 21:30] alanjosephwilliams opened #84 "trailheads transform: determine segment association via trail name"
#### Overview

We updated #39 to reflect the amendment to the OpenTrails specification; namely, that trailheads are associated now with _trail_segments_ via an array of *segment_ids". We look for those values in a variety of fieldnames, and create the spec-compliant output.

However, in making this change, we are making things more difficult for a few park agencies that are currently trying to pub

[2014-08-15 21:31] alanjosephwilliams commented on #39
@migurski I have created a separate ticket for "second priority", which can be found now in #84. We had a few agencies do the work to make associations between trailheads and named_trails, and it would be good to serve them, despite the specification's change to create a relationship directly between trailheads and trail_segments.

[2014-08-15 22:57] alanjosephwilliams opened #85 "Preparing data for OpenTrails: 1-to-many trailhead to trail segment relationships"
While the change from "trail_ids" (linking trailheads to _named_trails.csv_) to "segment_ids" (now linking them to _trail_segments.geojson_ instead) has made associating trailheads with the trail network easier and more consistently accurate, there are still so non-trivial hurdles for those looking to create this association for the first time.

Our current recommendation for those "preparing inpu

[2014-08-16 02:21] alanjosephwilliams commented on #82
That makes sense to me, certainly. I think I can implement this, so I'm assigning to myself.

[2014-08-18 22:44] ryanbranciforte opened #86 "Error - During the creation of name_trails.csv"
Data I'm testing is located here: Course_1/County/County of Santa Clara CA/Prepped/Final

Attached is a screenshot of error:
![screen shot 2014-08-18 at 3 21 54 pm](https://cloud.githubusercontent.com/assets/2602563/3959223/3aba55ca-2729-11e4-98bc-94e69baf004a.png)

[2014-08-18 22:45] migurski commented on #86
Can you paste that URL so I don't need to transcribe from a JPEG?

[2014-08-18 22:47] ryanbranciforte commented on #86
http://open-trails.codeforamerica.org/datasets/84b72a72-3866-4b49-ae74-a143209b51b8/name-trails

[2014-08-18 22:49] ryanbranciforte commented on #34
Not clear if this has been implemented, if not, please ignore. If so, then in my testing, it's having issues, though might be an error on my end. Lower priority!
![screen shot 2014-08-18 at 3 17 13 pm](https://cloud.githubusercontent.com/assets/2602563/3959261/d9c053a4-2729-11e4-9024-d892e6fac955.png)

[2014-08-18 22:50] ryanbranciforte commented on #34
sample data here on shared dropbox: Course_1/County/County of Santa Clara CA/Prepped/Final

[2014-08-18 22:50] migurski commented on #86
Thanks!

[2014-08-18 22:50] ryanbranciforte commented on #86
:) will posted urls in future!

[2014-08-18 23:07] migurski commented on #86
Looks like a bad string in the data someplace. Invalid UTF-8, or sneaky visitor from another character set.

[2014-08-18 23:15] migurski opened #87 "Add test for data with non-ASCII chars"
See https://github.com/codeforamerica/OpenTrails/issues/86

[2014-08-18 23:16] migurski commented on #86
There was an “ñ” in the file; I’m going to push a fresh version of the code. Re-visit [step 3](http://open-trails.codeforamerica.org/datasets/84b72a72-3866-4b49-ae74-a143209b51b8/transformed-segments) in five minutes to pick up where you left off.

[2014-08-18 23:16] #86 closed, assigned to nobody

[2014-08-18 23:18] ryanbranciforte commented on #86
hmmm, that makes sense. there is a trail in that park with a tilda in name. i'll see if i can track it down and clean it up, but first will retest with same data so we can test the non-ASCII char update

[2014-08-18 23:18] migurski commented on #86
It should be good to go now—I'm explicitly encoding to UTF8.

[2014-08-19 00:19] ryanbranciforte commented on #86
worked! thanks michal!

[2014-08-19 17:29] alanjosephwilliams commented on #83
@migurski can you advise on this?

[2014-08-19 18:01] migurski commented on #83
I think zeros are fine. The steward ID is local to each instance of OpenTrails data; no need to go global here.

[2014-08-19 18:14] alanjosephwilliams commented on #83
@migurski do you think that it is the role (or responsibility) of the converter to offer guidance as to how to update it manually before publishing for 3rd-party use or combining the data with OpenTrails data from nearby jurisdictions?

Alternatively, we  could simply make it transparent on the download page that the steward_id value is "0"—and leave the guidance as separate documentation.

[2014-08-19 18:33] alanjosephwilliams commented on #82
Resolved via:
f49311a
5d44832
8882ffb
695a583

Next time I'll make that kind of update a feature branch.

[2014-08-19 18:33] #82 closed, assigned to alanjosephwilliams

[2014-08-19 18:34] alanjosephwilliams opened #88 "Update trailheads.geojson output property name "drink water" to "drinkwater""

[2014-08-19 18:37] alanjosephwilliams commented on #84
@jmoe and I are going to pair on implementing, likely this evening.

[2014-08-19 18:42] migurski commented on #83
No, I don't think it's the role of the converter. Feels like unnecessary nagging.

[2014-08-19 18:55] alanjosephwilliams commented on #83
Sounds good. I'll call it out on the download page so it doesn't read like an error to people, but leave it at that.

[2014-08-19 19:33] migurski commented on #83
Why would it look like an error? We can make it “1” if that looked less error-like, but why call it out?

My feeling here is that we should be trimming and focusing the feedback and hints provided to users, to avoid the “one more thing” disease of other, less-simple data formats.

[2014-08-19 19:39] alanjosephwilliams commented on #83
Well said—for the purposes of this course, the users are interested in publishing OpenTrails an an open data set for third-party use. I'm thinking through how to set the expectations of current Converter users with the knowledge of their end goal.

I will make the change to "1", and let's not call it out.

[2014-08-20 15:59] ryanbranciforte opened #89 "validator giving error when testing converter output OT data"
http://open-trails.codeforamerica.org/checks/6c1034e0-86bb-4bd1-bef8-f03b3d9e5841/upload

[2014-08-20 16:03] alanjosephwilliams commented on #89
Hrm, looks like there is a TypeError surfacing in the Heroku logs, saying that arguments for a particular method must only be strings.

did you change the name of the output files by any chance?

[2014-08-20 16:14] migurski commented on #89
It ought to be easier for us to triage these errors. The failure is happening in the [shapefile2geojson() function](https://github.com/codeforamerica/OpenTrails/blob/581328c91ee6aa7944b8f134eb8dd3eb011d70c4/open_trails/transformers.py#L14) so at least we know the zip has been uploaded and can inspect it at this point.

[2014-08-20 16:23] ryanbranciforte commented on #89
No, did not change name of the OT files. I did change the name of the zip file. The data is loading into OuterSpatial fine and is showing the map embeds. LMK what I can do re this issue.

[2014-08-20 23:28] migurski commented on #89
Looked to be more cases of optimistic treatment of Heroku's filesystem.

[2014-08-20 23:30] migurski commented on #89
This now looks okay:

http://open-trails.codeforamerica.org/checks/6c1034e0-86bb-4bd1-bef8-f03b3d9e5841/results

[2014-08-20 23:30] #89 closed, assigned to nobody

[2014-08-21 00:24] ryanbranciforte commented on #89
working! thanks a ton.

[2014-08-21 00:30] ryanbranciforte opened #90 "add "restrooms" as an acceptable field name for trailheads (if not already)"

[2014-08-28 02:25] alanjosephwilliams opened #92 "Not all segments are being included in segment_ids"
In this dataset:
https://drive.google.com/a/codeforamerica.org/?tab=mo#folders/0B8q02hJyuselcFJIeVhRN1pHU0U

There are 12 segments with the value "Coal Creek Trail" in the "trailname" field.
(those segments are "trailid": 249, 250, 251, 252, 253, 295, 297, 298, 299, 336, 337, 338).

In the "named_trails.csv" file that is packaged in the Converter's open-trails.zip output, four different "Coal Cree

[2014-08-28 02:31] ryanbranciforte commented on #92
here is the gis attribute table with the selected "Coal Creek Trail" records.
![county_boulder](https://cloud.githubusercontent.com/assets/2602563/4070403/61999fc8-2e5b-11e4-85ad-699598a7912b.JPG)

[2014-08-28 05:37] jmoe commented on #92
functions.py make_name_trails method seems like a prime suspect

[2014-09-02 22:50] alanjosephwilliams commented on #92
Pinging @migurski since he hasn't been mentioned on this thread yet. @jmoe and I are going to take a look either tonight or tomorrow, since this is a critical bug.

[2014-09-03 16:33] alanjosephwilliams commented on #92
@migurski  I think we've addressed this with #96—updating the make_named_trails function, and adding a set of agency-schema specific tests for good measure.

[2014-09-04 04:54] #92 closed, assigned to nobody

[2014-09-05 05:54] ryanbranciforte opened #97 "update copy on the trails shapefile upload page"
See image. Need to update to reflect that segment ids are used to group segments into full trails.
![screen shot 2014-09-04 at 10 51 51 pm](https://cloud.githubusercontent.com/assets/2602563/4160665/07624930-34c1-11e4-8d50-64c53d985c7d.png)
@alanjosephwilliams

[2014-09-05 06:13] alanjosephwilliams commented on #97
Looks like this is actually the page/view that comes after upload, where we ask the user to review the sample attributes of the data they have uploaded.

The copy you've screen-captured is accurate. Segments need to contain the name of the trail they are a part of. Those names are used to group segments into full trails.

Are you suggesting we should specify that Named Trails are groups of segment

[2014-09-05 06:27] ryanbranciforte commented on #97
Makes sense. Thanks for reviewing.

[2014-09-05 06:27] #97 closed, assigned to nobody

[2014-09-05 06:34] ryanbranciforte opened #98 "update converter to accept data aggregated from multiple agencies"
Ex. I am working with data that has been aggregated in Ohio. The shapefile contains a "steward" field indicating the separate agencies.

[2014-09-05 08:14] ryanbranciforte opened #99 ""restrooms" is supposed to be acceptable"
![screen shot 2014-09-05 at 1 12 37 am](https://cloud.githubusercontent.com/assets/2602563/4161928/a34bdf74-34d4-11e4-828c-0433645ea2e8.png)

[2014-09-05 14:59] #88 closed, assigned to alanjosephwilliams

[2014-09-05 15:01] #79 closed, assigned to nobody

[2014-09-05 15:03] alanjosephwilliams commented on #87
Fixed in 3d7ece984f5277de22995cbfa3e426f4b73ea287

[2014-09-05 15:03] #87 closed, assigned to migurski

[2014-09-05 15:04] #84 closed, assigned to nobody

[2014-09-05 15:05] #53 closed, assigned to alanjosephwilliams

[2014-09-09 04:24] jmoe opened #100 "output trail_segments.geojson contains name property"
The converter is including a name property in the trail_segments.geojson output file that should not be there.

[2014-09-09 06:21] alanjosephwilliams commented on #100
Let's look at functions.py tomorrow AM when we sync up

[2014-09-09 06:23] jmoe commented on #100
Cool. I think the issue is actually in transformers.py line 38

[2014-09-09 06:23] jmoe commented on #100
Also, the validator needs a bunch of TLC. Will files separate issues.

[2014-09-09 06:24] alanjosephwilliams commented on #100
Thanks @jmoe, please do

[2014-09-14 05:14] alanjosephwilliams opened #101 "Incorrect validation of the 'osm_tag' properties in trailheads.geojson"
Currently, we validate the `osm_tags` property of `trailheads.geojson` similarly to the so-called "amenity" properties (like `parking`, `restrooms`) by calling the `_check_optional_boolean_fields` function.

Given that we anticipate arbitrary string-encoded arrays to be present in the `osm_tags` property, this is incorrect. Instead, we should validate `osm_tags` by calling `_check_optional_string_

[2014-09-14 05:22] alanjosephwilliams opened #103 "Validator should not require trail_ids in trailheads.geojson"
Currently we validate the content of `trail_ids` in `trailheads.geojson` by calling the [`_check_required_string_fields`](https://github.com/codeforamerica/OpenTrails/blob/master/open_trails/validators.py#L242). This reflects v1.0 of the specification. We should update the validation to reflect v1.1—wherein `trail_ids` is not a required field.

More specifically, we should validate `trail_ids` and

[2014-09-14 05:39] #103 closed, assigned to nobody

[2014-09-14 05:39] alanjosephwilliams commented on #101
addressed via #102

[2014-09-14 05:39] #101 closed, assigned to nobody

[2014-09-14 05:54] jmoe commented on #100
It seems like we'll need to pull the name property out of the JSON somewhere around here

https://github.com/codeforamerica/OpenTrails/blob/master/open_trails/routes.py#L204

and then rewrite the segments.geojson.zip file to the datastore.

[2014-10-09 14:22] jonahadkins opened #106 "Backing Up / Saving during validation steps"
Running through the validation process, it would be nice to save your work at any point during the step-through. Not sure how you could implement, but it being able to back-up and reload or redo a step would be useful.

_Awesome_ work so far!

[2014-10-09 14:35] migurski commented on #106
Just use the back button, Jonah!

[2014-10-09 14:36] #106 closed, assigned to nobody

[2014-10-23 21:58] ryanbranciforte opened #107 "what does converter do if there are two columns with acceptable field names for the same column type?"

[2014-10-23 22:15] migurski commented on #107
Do you mean, for example, if there is both a “trail” and “trailname” column and it needs to decide which one to use?

The transformer functions all work in order, so for [the name example](https://github.com/codeforamerica/OpenTrails/blob/master/open_trails/transformers.py#L75) it’ll use the first thing it finds when looking at _name_, _trail_, _trailname_, _trail name_, etc. in order.

[2014-10-23 22:18] ryanbranciforte commented on #107
that clears it up, thnks @migurski

[2014-10-23 22:19] #107 closed, assigned to nobody

[2014-10-23 22:21] ryanbranciforte opened #108 "Need to provide a way for agencies to be able to upload just trailheads"
Currently, an agency must upload a trail file in order to get to the trailheads.

[2014-10-24 00:18] ryanbranciforte commented on #90
just ran some data thru and it looks like 'restrooms' is not acceptable, but we identify it as acceptable in the OT guidebook. please update
![screen shot 2014-10-23 at 5 18 04 pm](https://cloud.githubusercontent.com/assets/2602563/4763539/50df155c-5b13-11e4-9907-5337e52969d3.png)

[2014-10-24 17:05] migurski commented on #108
Hm. The actual trails are a required part of the spec, so an OT process without them would be an error. I suppose an explicitly empty segments file would be okay, though weird.

[2014-10-24 17:08] migurski commented on #90
Would go here: https://github.com/codeforamerica/OpenTrails/blob/master/open_trails/transformers.py#L420

[2014-10-24 17:36] ryanbranciforte commented on #108
agree, it's odd re requirements of OT, but the converter does offer the ability to skip trailheads, but not skip trails.

[2014-10-24 17:37] ryanbranciforte commented on #90
thanks! i'm not versed in updating code, but i'll see if @jmoe or @alanjosephwilliams can help me out!

[2014-10-27 00:32] lyzidiamond commented on #90
Fixed with https://github.com/codeforamerica/OpenTrails/commit/c3ed0bfa90ffa890e16f7be4dc700d389c087d9b!

[2014-10-27 00:32] #90 closed, assigned to nobody

[2014-10-27 16:30] migurski commented on #90
:+1: deploying.

[2015-01-08 17:10] jmoe opened #109 "spec page is out of date, causes confusion"
The page at:

http://www.codeforamerica.org/specifications/trails/spec.html

is missing a couple of fields in the trailheads section.

Specifically area_id is missing and segment_ids is missing.

[2015-01-08 17:19] jmoe opened #110 "Sample data is out of date, does not match spec"
https://raw.githubusercontent.com/codeforamerica/OpenTrails/master/dummy-data/trailSegments.geojson

Contains the field vehicles, should be motor_vehicles.

One of the agencies adopting the spec was confused by this and pointed it out.

[2015-01-08 17:22] jmoe commented on #110
Actually it looks like the dummy_data directory is all out of date, must be for an older version of the spec. We might want to remove it until corrected in order to avoid confusion.

[2015-04-03 15:33] geobrando commented on #98
:+1:

Not sure how common this is, but I also have some aggregated data from a parks committee composed of trails from multiple stewards.  Converter could detect this field and allow user to confirm or could prompt user to specify the field explicitly.  In my dataset, the field is named "MAINTENANC"

[2015-07-13 19:54] shua123 opened #111 "Converter and validator does not specify what version of spec it converts/validates to"

[2016-10-14 20:58] ungoldman commented on #85
sounds good to me 👍